@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #0C0F11;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono);
}

.mainContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  margin: 0 auto;
  padding:24px;
}

span{
  color: #5f686e;
}